@model Pk2_RSVPwapp.Models.GuestReponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agradecimientos</title>
</head>
<body>
    <div>
        <h1> Gracias, @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:Que bueno que vendras, Las chelas estaran lista en el perfil.
        }
        else
        {
            @:Siento mucho que no puedas venir! :(, Pero muchas gracias por informalo.
        }
    </div>
</body>
</html>
