@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       <b>@ViewBag.Greting Amigo</b>(From the View)
       <p>Vamos a tener una fista increble<br />
       (to do: Mejorar redaccin, Agrega Fotos o Algo.)</p>
        @Html.ActionLink("RSV ahora", "RsvpForm"); 
    </div>
</body>
</html>
